@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 67 97 238; /* #4361ee */
	--color-secondary: 114 9 183; /* #7209b7 */
	--color-tertiary: 247 37 133; /* #f72585 */
	--color-dark: 58 12 163; /* #3a0ca3 */
	--color-light: 76 201 240; /* #4cc9f0 */
}

@layer base {
	html {
		@apply decoration-from-font underline-offset-4;
		text-wrap: balance;
	}

	/* spacing */
	article {
	}
	section {
		@apply space-y-2 p-20 h-screen snap-always snap-start flex flex-col justify-center odd:bg-primary even:bg-secondary text-white;
	}
	aside {
		@apply space-y-2;
	}
	footer {
		@apply space-y-2 px-20 py-8 snap-end;
	}

	/* headers */
	header {
		@apply p-20 snap-always snap-start space-y-2;
	}
	h1 {
		@apply text-8xl leading-tight;
	}
	h2 {
		@apply text-6xl leading-snug;
	}
	h3 {
		@apply text-4xl leading-snug;
	}

	/* content */
	p,
	li {
		@apply opacity-80 text-2xl;
	}

	a {
		@apply text-tertiary hover:text-light;
	}
}
