@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 67 97 238; /* #4361ee */
	--color-secondary: 114 9 183; /* #7209b7 */
	--color-tertiary: 247 37 133; /* #f72585 */
	--color-dark: 58 12 163; /* #3a0ca3 */
	--color-light: 76 201 240; /* #4cc9f0 */
}

@layer base {
	html {
		@apply decoration-from-font underline-offset-4;
	}

	/* spacing */
	section {
		@apply space-y-2 snap-start snap-always h-screen p-20 text-white odd:bg-primary even:bg-secondary flex flex-col justify-around;
	}
	aside {
		@apply space-y-2;
	}

	/* headers */
	header {
		@apply p-20 snap-start snap-always;
	}
	h1 {
		@apply text-8xl leading-tight -ml-1 font-light;
	}
	h2 {
		@apply text-6xl leading-tight -ml-0.5 font-light;
	}
	h3 {
		@apply text-4xl leading-snug -ml-1;
	}

	p {
		@apply text-xl leading-snug;
	}

	ul {
		@apply text-2xl leading-snug ml-6 space-y-2;
	}

	li {
		@apply pl-2;
	}
	li > ul {
		@apply my-2;
	}

	dt {
		@apply leading-none opacity-60;
	}
	dd {
		@apply text-2xl leading-snug mb-6;
	}

	a {
		@apply text-primary hover:text-tertiary cursor-pointer;
	}
}
